---
layout: default
title: Blog | Nove.io | Posts about Nove.io
classes: blog
footer_script: scroll.init(undefined, 'blog');
---
{% include _splash_blog.html %}
<ul class="category-tabs">
  {% for category in site.categories %}
    <li class="category-tab">
      <a class="a" href="{{ category.url }}">
        <span class="ic ic--{{ category.slug }}">
          {% include {{ category.icon }} %}
        </span>
        <span class="h4">{{ category.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
<section class="section section--narrow section--blog">
  <h2>Posts</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <h2><a class="a a--f" href="{{ post.url }}"><span>{{ post.title }}</span></a></h2>
        <p>{{ post.blurb }}</p>
      </li>
    {% endfor %}
  </ul>
  <h2>Categories</h2>
</section>