<section class="section section--overflow-l section--get-to-know">
  <div class="huge-logo">
    {% include _nove_logo.html %}
  </div>
  <div class="section__content section--narrow section__content--r section__content--overflow">
    <div class="section__col section__col--img section__col--6">
      <div class="section__img">
      </div>
    </div>
    <div class="section__col section__col--blurb section__col--6">
      <h2 class="h2 section__heading" style="margin-bottom: 1rem">Know your business better than ever</h2>
      <p class="h3 t-cursive">
        Is my business healthy?
      </p>
      <p class="h3 t-cursive">
        Where should I focus my time and money?
      </p>
      <p class="p">
        To answer those questions with authority, you need data. Nove gives you a huge head start on capturing that data, and reveals beautifully simple analytics to compare where you are now to any point in the past.
      </p>
    </div>
  </div>
</section>