<section class="section section--narrow section--cta CTA CTA--bottom">
  <div class="CTA__inner">
    <div class="txt-l">
      <p class="h4">The basic plan is free.</p>
      <p class="p">No trial period. Upgrade whenever. Export all of your data whenever.</p>
      <a class="h7 a a--f" href="/plans"><span>learn more about Nove plans</span></a>
    </div>
    <a class="button button--inverted" target="_blank" rel="noopener" href="https://app.nove.io">
      <span class="h6">Sign up</span>
    </a>
  </div>
</section>