<section class="section section--narrow">
  <ul class="Features">
    <li class='Feature'>
      <div class='Feature__row Feature__row--heading'>
        <div class='Feature__cell Feature__cell--title'></div>
        {% for plan in site.data.plans %}
          <div class='Feature__cell Feature__cell--$current h3'>{{ plan.name }}</div>
        {% endfor %}
    </div>
  </li>
  {% for feature in site.data.features %}
    <li class='Feature'>
      <div class='Feature__row'>
        <div class='Feature__cell Feature__cell--title'>
          <h4 class='Feature__title h4'>{{ feature.name }}</h4>
          {% if feature.text != false %}
            <span class='Feature__text h6 RM'>{{ feature.blurb }}&hellip;</span>
            <button class='Feature__more-button button button--un a a--f RM' onclick='Feature.expand(this);'>
              <span class='h6'>more</span>
            </button>
            <span class='Feature__text Feature__text--more h6' style='display: none;'>{{ feature.text }}</span>
          {% else %}
            <span class='Feature__text h6'>{{ feature.blurb }}</span>
          {% endif %}
        </div>
        {% for attribute in feature.attributes %}
          {% if attribute.first %}
            {% comment %} element is an array {% endcomment %}
            {% assign downcased = attribute.data | downcase %}
            <div class='Feature__cell Feature__cell--{{ downcased }} h3'>
              <i class='Feature__icon Ic Ic--{{ downcased }}'></i>
              <span class='Feature__value txt-c'>{{ attribute.data }}</span>
              {% include _ui_tip.html text=attribute.tooltip %}
            </div>
          {% else %}
            {% comment %} element is a string {% endcomment %}
            {% assign downcased = attribute | downcase %}
            <div class='Feature__cell Feature__cell--{{ downcased }}'>
              <i class='Feature__icon Ic Ic--{{ downcased }}'></i>
              <span class='Feature__value txt-c'>{{ attribute }}</span>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </li>
  {% endfor %}
  </ul>
</section>