<section class="section section--overflow-r section--get-more">
  <div class="section__content section--narrow section__content--r section__content--overflow">
    <div class="section__col section__col--blurb section__col--7">
      <h2 class="h2 section__heading">effortless analytics</h2>
      <p class="p">
        Nove logs the business activities you do on a daily basis: inquiries received, emails sent, events booked, and much more. Our analytics use that to build a complete picture of the health of your business, and reveals that in our beautiful analytics dashboard.
      </p>
    </div>
    <div class="section__col section__col--img section__col--5">
      <div class="section__img">
        <picture>
          <!-- portrait images -->
          <source media="(orientation: portrait)" srcset="./assets/img/mobile_anayltics_screenshot.png" >
          <!-- landscape images -->
          <source srcset="./assets/img/desktop_analytics_screenshot.png" >
          <img src="./assets/img/desktop_analytics_screenshot.png" alt="screenshot of nove analytics"/>
        </picture>
      </div>
    </div>
  </div>
</section>
