<li class="Plan Plan--{{ include.plan.name }}" id="{{ include.plan.id }}">
  <div class="Plan__img-c">
    {% if include.plan.name == 'concept' %}
      {% include _plan_sprout.html %}
    {% elsif include.plan.name == 'pro' %}
      {% include _plan_tree_sm.html %}
    {% elsif include.plan.name == 'business' %}
      {% include _plan_tree_lg.html %}
    {% endif %}
  </div>
  <h2 class='Plan__title section__heading h1'>{{ include.plan.name }}</h2>
  <div class='Plan__body'>
    <p class='Plan__description p'>{{ include.plan.description }}</p>
    <p class='Plan__price h4'>{{ include.plan.price }}</p>
    <a class='Plan__button Plan__button--{{ include.plan.name }} button' href='https://app.nove.io/settings?{{ include.plan.id }}'>sign up</a>
    <ul class='Plan__benefits'>
      {% for detail in include.plan.details %}
        <li class='Plan__benefit'><span class='p'>{{ detail }}</span></li>
      {% endfor %}
    </ul>
  </div>
</li>