<section class="section section--splash Splash Splash--home">
  <div class="Splash__headlines">
    <h1 class="h2 Splash__headline Splash__headline--1">Nove is contact forms and analytics for photographers</h1>
    <span class="h2 Splash__headline Splash__headline--2">Nove helps you get more out of the things you already do</span>
    <span class="h2 Splash__headline Splash__headline--3">Nove helps you get better clients</span>
    <span class="h2 Splash__headline Splash__headline--4">Nove helps you know if your business is healthy</span>
  </div>
  <div class="Splash__ctas">
    <a class="button button--cta Splash__cta" href="https://app.nove.io">Try Nove Now</a>
    <a class="button button--cta Splash__cta Splash__cta--secondary" href="https://app.nove.io/?demo=true">See the demo</a>
  </div>
</section>